.tile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tile div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .tile div {
        flex-direction: column;
        gap: 10px;
    }
}

.tile h1 {
    font-size: 24px;
    font-weight: normal;
    margin: auto 0;
}

.tile hr {
    border: 1px solid #c0c0c0;
    border-radius: 1em;
}

.tile button {
    background-color: #DCECFF;
    border: none;
    border-radius: 0.5em;
    color: black;
    text-decoration: none;
    font-size: 16;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: max-content;
    margin-left: auto;
}

.tile button:hover {
    opacity: 0.5;
}

.tile input {
    background-color: #DCECFF;
    border: none;
    border-radius: 0.5em;
    color: black;
    text-decoration: none;
    font-size: 16;
    padding: 10px 20px;
    width: 200px;
}