.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}