.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  height: 100%;
  width: 100%;
  background-image: url('/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  padding: 40px;
}

@media screen and (max-width: 900px) {
  .content {
    padding-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    padding-top: 100px !important;
    padding: 20px;
  }
}