.login_form {
    background-color: white;
    padding: 20px;
    border-radius: 0.7em;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 10px 25px rgb(196, 196, 196);
    z-index: 1;
    display: block;
    position: relative;
    overflow: hidden;
    height: 410px;
}

.logo {
    width: 80px;
    margin: 0 auto;
    display: block;
}

.title {
    text-align: center;
    display: block;
    margin: 15px 0;
    font-weight: 520;
    font-size: 25px;
}

.subTitle {
    text-align: center;
    display: block;
    color: rgb(120, 120, 120);
}

.form {
    margin-top: 30px;
}

.form input {
    width: 100%;
    box-sizing: border-box;
    background-color: #EDEDED;
    border: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 0.5em;
    outline: none;
}

.form label {
    margin-top: 10px;
    display: block;
    font-size: small;
    font-weight: bold;
}

.form button {
    background-color: #60ABFF;
    border: none;
    border-radius: 0.5em;
    padding: 10px 50px;
    text-align: center;
    color: white;
    display: block;
    cursor: pointer;
    width: 100%;
    font-weight: 520;
    transition: 0.3s;
    margin-top: 10px;
}

.form button:hover {
    background-color: #8dc2ff;
}

.link {
    color: #60ABFF;
    text-align: center;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline #60ABFF;
}

.login_status {
    color: red;
    text-align: center;
    display: block;
    margin: 10px 0;
}

.loader {
    display: none;
}

@keyframes loading_animation {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

.loader_loading {
    width: 100%;
    border-radius: 1em;
    background-color: #60ABFF;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading_animation 1s infinite;
}