.forget-password-page {
    background: linear-gradient(180deg, #79E7AD 0%, #FFF 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-recovery-container {
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 500px;
    border-radius: 0.5em;
    box-shadow: 0 13px 25px 12px rgb(0 0 0 / 25%);
    padding: 10px;
}

.account-recovery-container h1 {
    text-align: center;
    font-family: Inter;
}

.account-recovery-container p {
    text-align: center;
    font-family: Inter;
    margin-right: 10px;
    margin-left: 10px;
}

.account-recovery-container button {
    background: linear-gradient(270deg, #027AFF 0%, #57F6AF 82.1%);
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    font-family: Inter;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: auto;
    transition: 0.3s ease;
}

.account-recovery-container button:hover {
    opacity: 0.5;
}

.email-entry {
    display: block;
    margin: auto 20px 20px;
    padding: 10px;
    font-family: Inter;
    border-radius: 0.5em;
    border: 1px solid black;
    width: 300px;
}

.code-entry-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.code-entry-form input {
    margin: 0 5px;
    height: 20px;
    width: 150px;
    padding: 5px;
    font-family: Inter;
    border-radius: 0.5em;
    border: 1px solid black;
    text-align: center;
}

.password-entry {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-family: Inter;
    border-radius: 0.5em;
    border: 1px solid black;
    width: 300px;
}

.lif-logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.status-text {
    color: red;
    text-align: center;
    display: block;
    margin-top: 20px;
}

@keyframes loader-animation {
    0% {
        width: 0%;
        left: 0%;
    }

    50% {
        width: 100%;
        left: 0%;
    }
    
    100% {
        width: 0;
        left: 100%;
    }
}

.loader {
    display: none;
}

.loader-active {
    display: initial;
    top: 0;
    left: 0;
    height: 5px;
    background-color: blue;
    width: 100%;
    position: absolute;
    animation: loader-animation 1s linear infinite;
    animation-timing-function: ease-in-out;
    border-radius: 5px;
}