.dashboard {
    background: url("../assets/Bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.dashboard-header {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    box-shadow: 0 0 20px rgb(85, 85, 85);
}

.dashboard-header img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: solid white 1px;
}

.dashboard-header h1 {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.dashboard-section {
    text-align: left;
    margin: 50px;
}

.dashboard-section h1 {
    font-size: xx-large;
}

.dashboard-section-items {
    display: flex;
}

.dashboard-section-items img {
    width: 150px;
    height: 150px;
    -webkit-user-drag: none;
}

.dashboard-section-items div {
    background-color: white;
    box-shadow: 0 0 25px rgb(185, 185, 185);
    border-radius: 17px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 200px;
    border: solid #ebebeb 1px;
    user-select: none;
    transition: 0.2s ease-in-out;
}

.dashboard-section-items div:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}