.settings-page {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100%;
    padding: 20px;
    background: url("../assets/Bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.sidebar-header {
    display: flex;
    margin-top: 10px;
}

.sidebar-header h1 {
    font-size: x-large;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    text-align: left;
    width: 100%;
    overflow: hidden;
}

.sidebar-header .user-avatar {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.sidebar {
    box-sizing: border-box;
    height: 100%;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
}

.sidebar-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar-buttons button {
    display: block;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: large;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    height: 70px;
    margin-left: 0;
    border: none;
}

.sidebar-buttons button:hover {
    opacity: 0.6;
}

/* Used when current option in sidebar is selected */
.sidebar .active {
    background-color: #DCECFF;
}

.settings {
    margin-left: 20px;
    overflow-y: auto;
}

.settings h1 {
    font-weight: normal;
}

.page-title {
    font-size: 50px;
    margin: 0 0px 30px 50px;
}

.options {
    border-radius: 15px;
    overflow: hidden;
    width: 600px;
    display: block;
    background-color: white;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    margin-left: 50px;
    margin-bottom: 50px;
}

.options div {
    display: flex;
    justify-content: space-between; /* Align items to left and right edges */
    margin: auto;
    padding: 10px;
}

.options hr {
    text-align: center;
    width: 95%;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
    border-radius: 1em;
}

.options button {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #DCECFF;
    border: none;
    border-radius: 0.5em;
    transition: 0.2s ease-in-out;
}

.options button:hover {
    background-color: #e9f1f8;
}

.options textarea {
    border-radius: 0.5em;
    resize: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 100px;
    border: none;
    background-color: #DCECFF;
    outline-color: #719ECE;
}

.options select {
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
}

.options input {
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #DCECFF;
    outline-color: #719ECE;
}

.options .small-button {
    padding: 5px 15px 5px 15px;
    font-size: small;
    margin: 10px;
}

.options-header {
    background-color: #DCECFF;
    padding: 10px;
    display: block;
}

.options-header h1 {
    margin: 0;
}