.settings-page {
    display: grid;
    grid-template-columns: 300px auto;
    height: 100%;
}

.sidebar-header {
    display: flex;
}

.sidebar-header img {
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid rgb(163, 163, 163);
}

.sidebar {
    height: 98%;
    padding: 10px 10px 10px 0px;
    width: max-content;
    background-color: #EFEFEF;
    border-radius: 0px 20px 20px 0px;
}

.sidebar-buttons button {
    display: block;
    text-align: left;
    width: 95%;
    margin-top: 10px;
    border-radius: 0px 50px 50px 0px;
    font-size: large;
    background-color: rgb(226, 226, 226);
    border: transparent solid 1px;
    transition: 0.3s ease-in-out;
    padding: 5px 5px 5px 20px;
    margin-left: 0;
}

.sidebar-buttons button:hover {
    background-color: white;
    border: 1px solid black;
}

/* Used when current option in sidebar is selected */
.active {
    border-radius: 0px 50px 50px 0px;
    width: 100%;
    background-color: white;
    border: none;
}

.settings {
    margin-left: 20px;
    overflow-y: auto;
}

.personalization-options {
    border: 1px solid black;
    border-radius: 26px;
    padding: 10px;
    width: 500px;
    display: block;
}

.personalization-options div {
    display: flex;
    justify-content: space-between; /* Align items to left and right edges */
    margin: auto;
}

.personalization-options button {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 2em;
    transition: 0.2s ease-in-out;
}

.personalization-options button:hover {
    background-color: white;
    border: 1px solid black;
}

.personalization-options button:active {
    transform: scale(0.95);
}