.settings-page {
    display: grid;
    grid-template-columns: 300px auto;
    height: 100%;
}

.sidebar-header {
    display: flex;
}

.sidebar-header img {
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid rgb(163, 163, 163);
}

.sidebar {
    height: 99%;
    padding: 10px 25px 0px 0px;
    width: max-content;
    background-color: #EFEFEF;
    border-radius: 0px 20px 20px 0px;
}

.sidebar-buttons button {
    display: block;
    text-align: left;
    width: 95%;
    margin-top: 10px;
    border-radius: 0px 50px 50px 0px;
    font-size: large;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
    margin-left: 0;
    border: none;
}

.sidebar-buttons button:hover {
    background-color: rgb(221, 220, 220);
}

/* Used when current option in sidebar is selected */
.sidebar .active {
    border-radius: 0px 50px 50px 0px;
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sidebar .active:hover {
    background-color: white;
    border: none;
}

.settings {
    margin-left: 20px;
    overflow-y: auto;
}

.settings h1 {
    font-weight: normal;
}

.page-title {
    font-size: 50px;
}

.options {
    border: 1px solid black;
    border-radius: 26px;
    padding: 10px;
    width: 500px;
    display: block;
}

.options div {
    display: flex;
    justify-content: space-between; /* Align items to left and right edges */
    margin: auto;
}

.options button {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 2em;
    transition: 0.2s ease-in-out;
}

.options button:hover {
    background-color: white;
    border: 1px solid black;
}

.options button:active {
    transform: scale(0.95);
}

.options textarea {
    border-radius: 11px;
    resize: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 100px;
    border: none;
    background-color: #D9D9D9;
}

.options select {
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
}

.options input {
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
}

.options .small-button {
    padding: 5px 15px 5px 15px;
    font-size: small;
}